9* { box-sizing: border-box;}


body {
  background: url("salon.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

h1{
text-align: center;
color: white;

}


.dalton1{
background-image: url("dalton1.png");
width: 95px;
height: 380px;
position: absolute;
margin-top: 250px;
left:1400px;
top: 600px;
transform:scale(1);

@keyframes patada {
  100% { background-position: -910px; }
}

@keyframes desplazarse {
  100% { margin-left: 100%; }
}

@keyframes disappear {
  100% { opacity: 0; }
}
}

.dalton2{
background-image: url("dalton2.png");
width: 75px;
height: 270px;
position: absolute;
margin-top: 250px;
left: 450px;
top: 700px;
transform:scale(1);



}


.dalton3{
background-image: url("dalton3.png");
width: 80px;
height: 170px;
position: absolute;
margin-top: 250px;
right:400px;
top: 800px;
transform:scale(1);



}


.dalton4{
background-image: url("dalton4.png");
width: 90px;
height: 340px;
position: absolute;
margin-top: 250px;
left: 800px;
top: 650px;
transform:scale(1);



}



.bueno1{
background-image: url("bueno.jpg");

}


.luki{
background-image: url("luki.jpg");
width: 90px;
height: 340px;
position: absolute;
margin-top: 250px;
left: 800px;
top: 50px;

}





@keyframes patada {
  100% { background-position: -910px; }
}

@keyframes desplazarse {
  100% { margin-left: 100%; }
}

@keyframes disappear {
  100% { opacity: 0; }
}
